<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Todo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <style>
        .border-3 {
            border-width: 3px !important;
        }
    </style>
</head>

<body style="background-color: #d2af73">
    <div class="container p-3 " style="max-width: 700px; background-color:#e5d0ad">
        <h1 class="text-center">Todo</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" name="description" placeholder="Your new task"
                    maxlength="250" required>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-3">
                    <label for="category">Category</label>
                    <select class="custom-select d-block w-100" id="category" name="category" required>
                        <option class="disabled" value="">Choose a category</option>
                        {% for category in categories %}
                        <option value="{{ category.name }}" name="{{ category.name }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-6 mb-3">
                    <label for="dueDate">Due Date</label>
                    <input type="date" class="form-control" id="dueDate" name="dueDate" placeholder="" required>
                </div>
            </div>
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-secondary m-2" name="taskAdd">
                    </i><i class="fas fa-plus"></i> Add Task</button>
                <button type="submit" class="btn btn-danger m-2" name="taskDelete" formnovalidate="">
                    <i class="fas fa-trash-alt"></i> Delete Tasks
                </button>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select List
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <a class="dropdown-item" href="{% url 'TodoList' %}">All</a>
                    {% for category in categories %}
                    <a class="dropdown-item" href="{% url 'category' category %}">{{ category }}</a>
                    {% endfor %}
                </div>
            </div>

            {% for todo in todos %}
            <div class="row border border-3 m-2 p-2">
                <div class="col-1 align-self-center text-center custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="checkedbox" id="{{ todo.id }}"
                        value="{{ todo.id }}">
                    <label class="custom-control-label" for="{{ todo.id }}"></label>
                </div>
                <div class="col">
                    <div class="row">
                        <h5>{{ todo.title }}</h5>
                    </div>
                    <div class="row text-muted"><i class="far fa-calendar-alt p-1"></i> {{ todo.created }} -
                        {{ todo.due_date}}</div>
                </div>
                <div class="col-sm align-self-center text-right">
                    <div class="badge badge-secondary p-2">{{ todo.category }}</div>
                </div>
            </div>
            {% endfor %}
        </form>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>